.hero {
  height: calc(100dvh - 5rem);
  background-color: var(--color__light);
  display: flex;
}

.hero__text {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero__primaryText,
.hero__secondaryText {
  padding: 1rem 4rem;
}

.hero__btn {
  margin: 1rem 4rem;
}

.hero__image {
  position: relative;
  height: 100%;
  width: 40%;
  filter: drop-shadow(8px 16px 16px var(--color__red--transparent));
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-mask-image: url(../../assets/icons/SVG/droplet.svg);
  mask-image: url(../../assets/icons/SVG/droplet.svg);
  -webkit-mask-size: 33rem;
  mask-size: 33rem;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: var(--color__red);
  background-image: url(../../assets/images/donate.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
